.breadcrumb-container {
    
    padding: 0px;
    margin: 0px;
    
    .breadcrumb {
        padding-left: 30px;
        background-color: white;
    }
}

.breadcrumb-fixed-bellownavbar {
    position: fixed;
    top: $body-default-padding;
    width: 100vw;
    z-index: 100;
    height: $breadcrumb-height;
    
    .breadcrumb {
        background-color: $breadcrumb-default-background;
    }
}
