.section-header {
  
  $section-header-video-height: calc((100vw * 9) / 16);

  @keyframes MoveUpDown {
    0% {
      bottom: calc(30px - 15px);
    }
    50% {
      bottom: 30px;
    }
    100% {
      bottom: calc(30px - 15px);
    }
  }
  
  .bg-video{
    width: 100vw;
    height: auto;
  }
  
  svg {
    width: 50%;
    display: none;
  }
  
  .arrow {
    display: none;
  }
  
  
  @media (min-width: 768px) {
    
    position: relative;
    min-height: calc(#{$section-header-video-height} - #{$body-default-padding});
    background-color: rgba(white, 0.2);
    .bg-video {
      position: fixed;
      top: 0px;
      z-index: -1;
    }
    
    svg {
      
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      #icm-logo {
        opacity: 0;
        stroke-width: .6;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: show;
        animation-timing-function: linear;
        stroke: #ff0000;
        stroke-dasharray: 2810;
        stroke-dashoffset: 2810;
        animation-duration: 2s;
        animation-delay: 6.5s;
      }
      
      #icm-logo-line {
        stroke-width: .6;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-name: draw;
        animation-timing-function: linear;
        stroke: #ff0000;
        stroke-dasharray: 2810;
        stroke-dashoffset: 2810;
        animation-duration: 20s;
        animation-delay: 2s;
      }
    }
    
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    @keyframes show {
      to {
        opacity: 1;
      }
    }
    
    
    .arrow {
      display: block !important;
      color: white;
      font-size: 40px;
      
      animation: MoveUpDown 1s linear infinite;
      position: absolute;
      left: 50vw;
      bottom: 0px;
    }
  }
  
  @media(min-width: 1200px){
    min-height: calc(#{$section-header-video-height} - #{$body-default-padding} - 100px);
  }
}

.section-projects {
  
  padding: 15px;

  .section-projects-title {
    padding: 5px;
  }

  .projeto {

    padding: 5px;

    .thumbnail {
      width: 100%;
      height: 100px;
      background-color: #fff;
      position: relative;
      
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
      }
    }
  }
  
  @media (min-width: 768px) {
    
    padding-bottom: 0px;
    background-color: rgba($default-light-bg, .8);
    
    .section-projects-title {
      text-align: right;
    }
    
    .projeto {
      
      padding-left: calc(#{$grid-gutter-width} / 2);
      padding-right: calc(#{$grid-gutter-width} / 2);
      
      .thumbnail {
        height: 200px;
      }
    }
  }
}

.section-next-events {
  
  padding: 5px;
  background-color: white;
  
  @media (min-width: 768px) {
    
    padding-bottom: 0px;
    background-color: rgba($default-light-bg, .9);
    
    .section-next-events-title {
      text-align: right;
    }
  }
}