.section-header {
  
  //                          Video height      - body padding compensation- projects compensation
  $section-header-size: calc(((100vw * 9) / 16) - #{$body-default-padding} - 370px);

  .arrow {
    display: none;
  }

  @keyframes MoveUpDown {
    0% {
      bottom: calc(250px - 15px);
    }
    50% {
      bottom: 250px;
    }
    100% {
      bottom: calc(250px - 15px);
    }
  }
  
  .bg-video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-height: $default-usable-screen-height;
  }
  
  .bg-video{
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    height: $section-header-size;
    
    .arrow {
      display: block !important;
      z-index: 1;
      color: white;
      font-size: 40px;
      
      animation: MoveUpDown 1s linear infinite;
      position: absolute;
      left: 50vw;
      bottom: 0px;
    }
    
    .bg-video {
      position: fixed;
      top: 0px;
      z-index: -1;
    }
  }
}

.section-projects {
  
  padding: 15px;

  .projeto {
    
    padding: 5px;

    .thumbnail {
      width: 100%;
      height: 100px;
      background-color: #fff;
      position: relative;
      
      img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
      }
    }
  }
  
  @media (min-width: 768px) {
    
    padding-bottom: 0px;
    background-color: rgba($default-light-bg, .8);
    
    .projeto {
      
      padding-left: calc(#{$grid-gutter-width} / 2);
      padding-right: calc(#{$grid-gutter-width} / 2);
      
      .thumbnail {
        height: 200px;
      }
    }
    
    .section-projects-title {
      text-align: right;
    }
  }
  
  @media (min-width: 992px) {
    
  }
  
  @media (min-width: 1200px) {
    
  }
}

.section-next-events {
  
  padding: 15px;
  background-color: white;
  
  @media (min-width: 768px) {
    
    padding-bottom: 0px;
    background-color: rgba($default-light-bg, .9);
    
    .section-next-events-title {
      text-align: right;
    }
  }
  
  @media (min-width: 992px) {
    
  }
  
  @media (min-width: 1200px) {
    
  }
}